body {
  background-color: rgb(2, 6, 65);
}

h1 {
  color: rgb(1, 255, 22);
}

h2 {
  color: rgb(1, 255, 242);
  text-align: center;
}

h3 {
  color: rgb(255, 1, 1);
}

h4 {
  color: rgb(249, 253, 0);
  text-align: center;
}
h5 {
  color: white;
  font-size: 26px;
}
p {
  color: rgb(253, 253, 253);
  text-align: center;
  margin-left: 15vw;
  margin-right: 15vw;
}
li {
  padding-left: 20px;
  padding-right: 20px;
  display: inline;
  font-size: 0px;
}
a {
  color: rgb(255, 255, 255);
}
table {
  color: rgb(255, 255, 255);
}
table {
  color: rgb(255, 255, 255);
}
label {
  color: rgb(255, 255, 255);
}
input {
  color: rgb(0, 0, 0);
}
form {
  color: white;
}
#top {
  font-size: 4em;
  width: 6em;
  display: inline;
}
ul {
  text-align: center;
  margin-left: 40px;
}
.border {
  border: 5px solid rgb(177, 177, 173);
  border-radius: 25%;
}
iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
