body {
  background-color: rgb(2, 6, 65);
}

h1 {
  color: rgb(1, 255, 22);
}

h2 {
  color: rgb(1, 255, 242);
}

h3 {
  color: rgb(255, 1, 1);
}

h4 {
  color: rgb(249, 253, 0);
}

p {
  color: rgb(253, 253, 253);
}
li {
  color: rgb(255, 255, 255);
}
a {
  color: rgb(255, 255, 255);
}
table {
  color: rgb(255, 255, 255);
}
table {
  color: rgb(255, 255, 255);
}
label {
  color: rgb(255, 255, 255);
}
input {
  color: rgb(0, 0, 0);
}
form {
  color: white;
}
